<a href="https://colab.research.google.com/github/drewamorbordelon/DS-Unit-2-Applied-Modeling/blob/master/module3-permutation-boosting/REG_of_monthly_10yrTreasuryModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1087]:
%matplotlib inline
import sys

!pip install category_encoders==2.*

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from category_encoders import OneHotEncoder, OrdinalEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import SelectKBest

Requirement already satisfied: category_encoders==2.* in /usr/local/lib/python3.6/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.18.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.22.2.post1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.0.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.4.1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.5.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.10.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders==2.*) (0.16.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders==2.*) (1.15.0)

In [1088]:
df = pd.read_csv('/content/MoM_Unit2ProjectDataFrame.csv', parse_dates=['date'], engine='python')
df.head()

        date   cpi  roccpi  roccpi_bps  ...  vix  currcir  roc_cur  roccur_bps
0 1976-01-01  55.9     NaN         NaN  ...  NaN   84.744      NaN         NaN
1 1976-02-01  56.2     NaN         NaN  ...  NaN   84.038      NaN         NaN
2 1976-03-01  56.5     NaN         NaN  ...  NaN   84.983      NaN         NaN
3 1976-04-01  56.7     NaN         NaN  ...  NaN   86.523      NaN         NaN
4 1976-05-01  57.0     NaN         NaN  ...  NaN   87.327      NaN         NaN

[5 rows x 28 columns]

In [1089]:
df['vix_basket'] = df['vix']
df = df.iloc[217:]

In [1090]:
df.head()

          date    cpi    roccpi  ...    roc_cur  roccur_bps  vix_basket
217 1994-02-01  154.8  2.788845  ...  10.336077   52.713183       14.87
218 1994-03-01  155.3  2.984085  ...  10.552979   21.690239       20.45
219 1994-04-01  155.5  2.708058  ...  10.571829    1.885001       13.77
220 1994-05-01  155.9  2.700922  ...  10.471063  -10.076596       13.03
221 1994-06-01  156.4  2.827087  ...  10.478323    0.726015       14.97

[5 rows x 29 columns]

In [1091]:
df['vix_basket'].value_counts()
df.head()

          date    cpi    roccpi  ...    roc_cur  roccur_bps  vix_basket
217 1994-02-01  154.8  2.788845  ...  10.336077   52.713183       14.87
218 1994-03-01  155.3  2.984085  ...  10.552979   21.690239       20.45
219 1994-04-01  155.5  2.708058  ...  10.571829    1.885001       13.77
220 1994-05-01  155.9  2.700922  ...  10.471063  -10.076596       13.03
221 1994-06-01  156.4  2.827087  ...  10.478323    0.726015       14.97

[5 rows x 29 columns]

#Wrangle Function

In [1092]:
def wrangle (df):

  df = df.copy()
  
  # NEW FEATURES = Creating baskets for VIX levels
  # create baskets for VIX
  # >= 30
  # 30-16
  # < 16

  # Creating a new column with categories
  defensive = (df['vix_basket'] >= 30.00)
  tradable = (df['vix_basket'] < 30.00) & (df['vix_basket'] >= 15.00)
  investable = (df['vix_basket'] < 15.00)
  # unknown = (df['vix_basket'] < 30.00) & (df['vix_basket'] > 27.00) & (df['vix_basket'] < 18.00) & (df(['vix_basket'] >= 15.00)

  # NEW Category Features
  df.loc[defensive, 'vix_basket'] = 'defensive'
  df.loc[tradable, 'vix_basket'] = 'tradable'
  df.loc[investable, 'vix_basket'] = 'investable'
  # # df.loc[unknown, 'vix_basket'] = 'unknown'

  # Drop recorded_by (never varies) and id (always varies, random)
  unusable_variance = ['10y2yr', 'roc10_2', '10y2y_bps', 'roc10y', '10y_bps', 
                       'roccpi_bps',	'vs_bps', 'rocsave_bps', 'rocdxy_bps', 
                       'rocpmi_bps', 'roccur_bps',]
   
                      #  'roccpi_bps',	'vs_bps', 'rocsave_bps', 'rocdxy_bps', 
                      #  'rocpmi_bps', 'roccur_bps', 'vix', 'vehicle sales', 
                      #  'roccur_bps', 'roc_vs', 'vs_bps', 'roc_dxy', 
                      #  'roc_savings', 'roc_cur']

  df = df.drop(columns=unusable_variance,  axis=1)  #'cpi', 'gdp', 'rocgdp_bps', 'rocgdp', 'roccpi_bps', 'roccpi','vehicle_sales', 'conjob_claims', 'Indust Prod Index', 'm2vel',, '10y2yr', '10y', 'wti','dxy'
  
  return df

In [1093]:
df = wrangle(df).sort_index()

In [1094]:
df.head()

          date    cpi    roccpi   10y  ...    vix  currcir    roc_cur  vix_basket
217 1994-02-01  154.8  2.788845  6.15  ...  14.87  363.041  10.336077  investable
218 1994-03-01  155.3  2.984085  6.77  ...  20.45  366.398  10.552979    tradable
219 1994-04-01  155.5  2.708058  7.06  ...  13.77  370.681  10.571829  investable
220 1994-05-01  155.9  2.700922  7.17  ...  13.03  373.253  10.471063  investable
221 1994-06-01  156.4  2.827087  7.34  ...  14.97  378.375  10.478323  investable

[5 rows x 18 columns]

In [1095]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 217 to 535
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           318 non-null    datetime64[ns]
 1   cpi            318 non-null    float64
 2   roccpi         318 non-null    float64
 3   10y            318 non-null    float64
 4   vehicle sales  318 non-null    float64
 5   roc_vs         318 non-null    float64
 6   pmi            318 non-null    float64
 7   roc_pmi        318 non-null    float64
 8   crb            318 non-null    float64
 9   dxy            318 non-null    float64
 10  roc_dxy        318 non-null    float64
 11  savings        318 non-null    float64
 12  roc_savings    318 non-null    float64
 13  con_conf       318 non-null    float64
 14  vix            318 non-null    float64
 15  currcir        318 non-null    float64
 16  roc_cur        318 non-null    float64
 17  vix_basket     318 non-null    object
dtypes: datetime64[ns](1), float64(16), object(1)
memory usage: 45.0+ KB

In [1096]:
# Set `date` as index
df = df.set_index('date')

In [1097]:
df.head()
df.shape

(319, 17)

#Importing GDP quarterly data

In [1098]:
gdp = pd.read_csv('/content/Real Gross Domestic Product (GDPC1) - Copy.csv', parse_dates=['date'], engine='python')
gdp.head(1)

        date   cpi  roccpi  roccpi_bps       gdp  rocgdp  rocgdp_bps
0 1957-01-01  28.7     NaN         NaN  2992.219     NaN         NaN

In [1099]:
# NEW FEATURES = Creating conditional statement for the `Regime`
condition1 = (gdp['roccpi_bps'] < 0.00) & (gdp['rocgdp_bps'] > 0.00)
regime1 = gdp[condition1]
regime1_date = regime1[['date']]
regime1_date['regime'] = 'regime 1'

condition2 = (gdp['roccpi_bps'] > 0.00) & (gdp['rocgdp_bps'] > 0.00)
regime2 = gdp[condition2]
regime2_date = regime2[['date']]
regime2_date['regime'] = 'regime 2'

condition3 = (gdp['roccpi_bps'] > 0.00) & (gdp['rocgdp_bps'] < 0.00)
regime3 = gdp[condition3]
regime3_date = regime3[['date']]
regime3_date['regime'] = 'regime 3'

condition4 = (gdp['roccpi_bps'] < 0.00) & (gdp['rocgdp_bps'] < 0.00)
regime4 = gdp[condition4]
regime4_date = regime4[['date']]
regime4_date['regime'] = 'regime 4'


regime_merge = pd.concat([regime1_date, regime2_date, regime3_date, regime4_date])
gdp = pd.merge(gdp, regime_merge, on='date', how='inner')
gdp.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        date   cpi    roccpi  ...    rocgdp  rocgdp_bps    regime
0 1958-04-01  29.6  2.422145  ... -2.019116   85.316706  regime 1
1 1958-07-01  29.7  2.061856  ... -0.724762  129.435360  regime 1
2 1958-10-01  29.9  2.047782  ...  2.659694  338.445615  regime 1
3 1959-01-01  30.0  1.694915  ...  7.420567  476.087295  regime 1
4 1959-04-01  30.2  2.027027  ...  9.127057  170.649002  regime 2

[5 rows x 8 columns]

In [1100]:
gdp = gdp.set_index('date')
gdp.head()

             cpi    roccpi  roccpi_bps  ...    rocgdp  rocgdp_bps    regime
date                                    ...
1958-04-01  29.6  2.422145  -36.531112  ... -2.019116   85.316706  regime 1
1958-07-01  29.7  2.061856  -36.028966  ... -0.724762  129.435360  regime 1
1958-10-01  29.9  2.047782   -1.407410  ...  2.659694  338.445615  regime 1
1959-01-01  30.0  1.694915  -35.286632  ...  7.420567  476.087295  regime 1
1959-04-01  30.2  2.027027   33.211177  ...  9.127057  170.649002  regime 2

[5 rows x 7 columns]

In [1101]:
gdp = gdp.drop(['cpi', 'roccpi', 'roccpi_bps', 'gdp', 'rocgdp', 'rocgdp_bps'], axis=1)
gdp.head()

              regime
date
1958-04-01  regime 1
1958-07-01  regime 1
1958-10-01  regime 1
1959-01-01  regime 1
1959-04-01  regime 2

In [1102]:
gdp.shape

(249, 1)

In [1103]:
df = df.join(gdp, how='left')

In [1104]:
df.drop(df.tail(1).index,inplace=True)

In [1105]:
df = df.fillna('month')

In [1106]:
df.tail()

                cpi    roccpi   10y  ...    roc_cur  vix_basket    regime
date                                 ...
2020-03-01  266.795  2.096304  0.70  ...   6.212782   defensive     month
2020-04-01  265.601  1.438310  0.64  ...   9.324036   defensive  regime 4
2020-05-01  265.441  1.236465  0.65  ...  11.401623    tradable     month
2020-06-01  266.065  1.194257  0.66  ...  12.522378   defensive     month
2020-07-01  267.715  1.566086  0.55  ...  13.245250    tradable     month

[5 rows x 18 columns]

In [1107]:
df.corr()

                    cpi    roccpi       10y  ...       vix   currcir   roc_cur
cpi            1.000000 -0.483985 -0.923219  ... -0.089176  0.976000 -0.069930
roccpi        -0.483985  1.000000  0.564652  ... -0.117958 -0.407896 -0.058824
10y           -0.923219  0.564652  1.000000  ... -0.042647 -0.875094  0.018307
vehicle sales  0.019913  0.273233  0.073703  ... -0.439494  0.102058 -0.079017
roc_vs        -0.092439 -0.090422  0.060667  ... -0.374543 -0.085091  0.108693
pmi            0.773437 -0.394466 -0.708648  ... -0.091740  0.682693 -0.333948
roc_pmi       -0.413175  0.178362  0.457867  ... -0.374965 -0.364967 -0.101422
crb            0.276324 -0.328202 -0.305694  ... -0.110845  0.099391 -0.437088
dxy           -0.177180  0.260719  0.208826  ...  0.166710 -0.075243  0.164016
roc_dxy        0.085350  0.034279 -0.073483  ...  0.180798  0.105157  0.121493
savings        0.979431 -0.439750 -0.896879  ... -0.159153  0.994335  0.018080
roc_savings   -0.027865 -0.399101 -0.164625  ...  0.444565 -0.085087  0.155621
con_conf      -0.298372  0.348775  0.423444  ... -0.288227 -0.157733  0.085835
vix           -0.089176 -0.117958 -0.042647  ...  1.000000 -0.140240  0.123895
currcir        0.976000 -0.407896 -0.875094  ... -0.140240  1.000000  0.010163
roc_cur       -0.069930 -0.058824  0.018307  ...  0.123895  0.010163  1.000000

[16 rows x 16 columns]

#Split TV from FM

In [1108]:
# target is the regime column
# categorical
target = '10y'
# target ='crb'
y = df[target]
X = df.drop(target , axis=1)

In [1109]:
cutoff1 = '2016-01-01'
cutoff2 = '2018-01-01'
# cutoff3 = '2020-01-01'
mask1 = df.index < cutoff1
# mask1 = (df.index <= cutoff1)
mask2 = (df.index >= cutoff1) & (df.index < cutoff2)
mask3 = (df.index >= cutoff2) 
train = df[mask1]
# val = df[~mask1]
val = df[mask2]
test = df[mask3]

In [1110]:
y_train = train[target]
X_train = train.drop([target], axis=1)

y_val = val[target]
X_val = val.drop(target, axis=1)

y_test = test[target]
X_test = test.drop(target, axis=1)

###Test with assert

In [1111]:
# assert df.shape[0] == train.shape[0] + val.shape[0]
assert df.shape[0] == train.shape[0] + val.shape[0] + test.shape[0]

#Establish Baseline

In [1112]:
# Regression --> mean absolute error
from sklearn.metrics import mean_absolute_error
 
print('Baseline MAE:', mean_absolute_error(y_train, [y_train.mean()]*len(y_train)))
# print('Baseline Accuracy:', y_train.value_counts(normalize=True).max())

Baseline MAE: 1.3125223727392332

#Build Model

In [1113]:
model = make_pipeline(
    OneHotEncoder(use_cat_names=True),   #OneHotEncoder(use_cat_names=True),
    SimpleImputer(),
    SelectKBest(k=12),
    LinearRegression()  #LinearRegression()  RandomForestRegressor(random_state=42)
)

model.fit(X_train, y_train);

In [1114]:
print('Training MAE:', mean_absolute_error(y_train, model.predict(X_train)))
print('Validation MAE:', mean_absolute_error(y_val, model.predict(X_val)))
print('Test MAE:', mean_absolute_error(y_test, model.predict(X_test)))

Training MAE: 0.376084770336333
Validation MAE: 0.2697139208603627
Test MAE: 0.5926191421277192

In [1115]:
# y_pred = model.predict(X_val)
# print('Accuracy Score:', accuracy_score(y_val, y_pred))

In [1116]:
# print('Training MAE:', mean_absolute_error(y_train, model.predict(X_train)))
# print('Validation MAE:', mean_absolute_error(y_val, model.predict(X_val)))
# print('Test MAE:', mean_absolute_error(y_test, model.predict(X_test)))

In [1117]:
from sklearn.metrics import r2_score

print("Training R2:", model.score(X_train, y_train))
print("Validation R2:", model.score(X_val, y_val))
print("Test R2:", model.score(X_test, y_test))

Training R2: 0.9092971561526869
Validation R2: -0.1316116540051906
Test R2: 0.22574717435381617

In [1118]:
model_rfr = make_pipeline(
    OneHotEncoder(use_cat_names=True),   # OneHotEncoder(use_cat_names=True),
    SimpleImputer(),
    RandomForestRegressor(random_state=42,)
)                                  #SelectKBest(k=18), # <-- Hyperparameter # <-- max_depth, n_estimators
model_rfr.fit(X_train, y_train);#XGBRegressor(n_jobs=-1, n_estimators=15)

In [1119]:
print('Training MAE:', mean_absolute_error(y_train, model_rfr.predict(X_train)))
print('Validation MAE:', mean_absolute_error(y_val, model_rfr.predict(X_val)))
print('Test MAE:', mean_absolute_error(y_test, model_rfr.predict(X_test)))

Training MAE: 0.07958022813688197
Validation MAE: 0.3076541666666668
Test MAE: 0.7131354838709677

In [1120]:
print("Training R2:", model_rfr.score(X_train, y_train))
print("Validation R2:", model_rfr.score(X_val, y_val))
print("Test R2:", model_rfr.score(X_test, y_test))

Training R2: 0.9958166276014386
Validation R2: -0.43981255642488515
Test R2: -0.003914479472967525

In [1121]:
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor, XGBClassifier

model_gb = make_pipeline(
    OneHotEncoder(use_cat_names=True),   # OneHotEncoder(use_cat_names=True),
    SimpleImputer(),
    GradientBoostingRegressor()
)                                  #SelectKBest(k=18), # <-- Hyperparameter # <-- max_depth, n_estimators
model_rfr.fit(X_train, y_train);

In [1122]:
print('Training MAE:', mean_absolute_error(y_train, model_gb.predict(X_train)))
print('Validation MAE:', mean_absolute_error(y_val, model_gb.predict(X_val)))
print('Test MAE:', mean_absolute_error(y_test, model_gb.predict(X_test)))

ValueError: ignored

In [ ]:


rfr_model = make_pipeline(
    OneHotEncoder(use_cat_names=True),     #OneHotEncoder(use_cat_names=True),
    SimpleImputer(strategy='mean'),
    SelectKBest(k=7),
    # XGBRegressor(n_jobs=-1, n_estimators=100),
    RandomForestRegressor(random_state=42)
)
# The ranges I want to test as dictionary
params= {'randomforestregressor__n_estimators': range(50, 201, 50),
         'randomforestregressor__max_depth': range(5, 26, 10)}

# Create Grid Search
gs = GridSearchCV(rfr_model,
                  param_grid = params,
                  n_jobs=-1,
                  verbose=1, 
                  cv=10
)

In [ ]:
gs.fit(X_train, y_train);

In [ ]:
# # What are the best set of hyperparameters?
gs.best_params_

In [ ]:
# What if I want to save my best model?
best_model = gs.best_estimator_

In [ ]:
print('Tuned training MAE:', mean_absolute_error(y_train, gs.predict(X_train)))
print('Tuned validation MAE:', mean_absolute_error(y_val, gs.predict(X_val)))
print('Tuned test MAE:', mean_absolute_error(y_test, gs.predict(X_test)))

In [ ]:
# # Multiple Linear Regression
from sklearn.metrics import r2_score


print("Training R2:", best_model.score(X_train, y_train))
print("Validation R2:", best_model.score(X_val, y_val))
print("Test R2:", best_model.score(X_test, y_test))

In [ ]:
from sklearn.datasets import make_classification
from sklearn.ensemble import ExtraTreesClassifier

In [ ]:
X, y = make_classification(n_samples=1000,
                           n_features=10,
                           n_informative=3,
                           n_redundant=0,
                           n_repeated=0,
                           n_classes=2,
                           random_state=0,
                           shuffle=False)

In [ ]:
forest = ExtraTreesClassifier(n_estimators=250,
                              random_state=0)

In [ ]:
forest.fit(X, y)
importances = forest.feature_importances_
std = np.std([tree.feature_importances_ for tree in forest.estimators_],
             axis=0)
indices = np.argsort(importances)[::-1]

In [ ]:
# Print the feature ranking
# print("Feature ranking:")

# for f in range(X.shape[1]):
#     print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))

# # Plot the impurity-based feature importances of the forest
# plt.figure()
# plt.title("Feature importances")
# plt.bar(range(X.shape[1]), importances[indices],
#         color="r", yerr=std[indices], align="center")
# plt.xticks(range(X.shape[1]), indices)
# plt.xlim([-1, X.shape[1]])
# plt.show()

In [ ]:
# plot feature importance using built-in function
# from numpy import loadtxt
# from xgboost import XGBRegressor
# from xgboost import plot_importance

# # fit model no training data
# model = XGBRegressor()
# model.fit(X, y)
# # plot feature importance
# plot_importance(model)
# plt.show()