<a href="https://colab.research.google.com/github/drewamorbordelon/DS-Unit-2-Applied-Modeling/blob/master/module2-wrangle-ml-datasets/232_assignment_monthly_10yrTreasuryModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline
import sys

!pip install category_encoders==2.*

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from category_encoders import OneHotEncoder, OrdinalEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import SelectKBest

Collecting category_encoders==2.*
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 4.3MB/s
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.0.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.18.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.5.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.22.2.post1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.10.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders==2.*) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders==2.*) (0.16.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
df = pd.read_csv('/content/MoM_Unit2ProjectDataFrame.csv', parse_dates=['date'], skipfooter=1, engine='python')

In [ ]:
df['vix_basket'] = df['vix']
df = df.iloc[217:]

In [ ]:
df.head()

          date    cpi    roccpi  ...  con_conf    vix  vix_basket
217 1994-02-01  154.8  2.788845  ...      93.2  14.87       14.87
218 1994-03-01  155.3  2.984085  ...      91.5  20.45       20.45
219 1994-04-01  155.5  2.708058  ...      92.6  13.77       13.77
220 1994-05-01  155.9  2.700922  ...      92.8  13.03       13.03
221 1994-06-01  156.4  2.827087  ...      91.2  14.97       14.97

[5 rows x 26 columns]

In [ ]:
df['vix_basket'].value_counts()
df.head()

          date    cpi    roccpi  ...  con_conf    vix  vix_basket
217 1994-02-01  154.8  2.788845  ...      93.2  14.87       14.87
218 1994-03-01  155.3  2.984085  ...      91.5  20.45       20.45
219 1994-04-01  155.5  2.708058  ...      92.6  13.77       13.77
220 1994-05-01  155.9  2.700922  ...      92.8  13.03       13.03
221 1994-06-01  156.4  2.827087  ...      91.2  14.97       14.97

[5 rows x 26 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318 entries, 217 to 534
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           318 non-null    datetime64[ns]
 1   cpi            318 non-null    float64
 2   roccpi         318 non-null    float64
 3   roccpi_bps     318 non-null    float64
 4   10y2yr         318 non-null    float64
 5   roc10_2        318 non-null    float64
 6   10y2y_bps      318 non-null    float64
 7   10y            318 non-null    float64
 8   roc10y         318 non-null    float64
 9   10y_bps        318 non-null    float64
 10  vehicle sales  318 non-null    float64
 11  roc_vs         318 non-null    float64
 12  vs_bps         318 non-null    float64
 13  pmi            318 non-null    float64
 14  roc_pmi        318 non-null    float64
 15  rocpmi_bps     318 non-null    float64
 16  crb            318 non-null    float64
 17  dxy            318 non-null    float64
 18  roc_dxy        318 non-null    float64
 19  rocdxy_bps     318 non-null    float64
 20  savings        318 non-null    float64
 21  roc_savings    318 non-null    float64
 22  rocsave_bps    318 non-null    float64
 23  con_conf       318 non-null    float64
 24  vix            318 non-null    float64
 25  vix_basket     318 non-null    float64
dtypes: datetime64[ns](1), float64(25)
memory usage: 64.7 KB

#Wrangle Function

In [ ]:
def wrangle (df):

  df = df.copy()
  
  # NEW FEATURES = Creating baskets for VIX levels
  # create baskets for VIX
  # >= 30
  # 30-18
  # < 18

  # Creating a new column with categories
  defensive = (df['vix_basket'] >= 30.00)
  tradable = (df['vix_basket'] < 30.00) & (df['vix_basket'] >= 16.00)
  investable = (df['vix_basket'] < 16.00)
  # unknown = (df['vix_basket'] < 30.00) & (df['vix_basket'] > 27.00) & (df['vix_basket'] < 18.00) & (df(['vix_basket'] >= 15.00)

  # NEW Category Features
  df.loc[defensive, 'vix_basket'] = 'defensive'
  df.loc[tradable, 'vix_basket'] = 'tradable'
  df.loc[investable, 'vix_basket'] = 'investable'
  # df.loc[unknown, 'vix_basket'] = 'unknown'

  # NEW FEATURES = Creating conditional statement for the `Regime`
  condition1 = (df['roccpi_bps'] < 0.00)
  regime1 = df[condition1]
  regime1_date = regime1[['date']]
  regime1_date['regime'] = 'regime 1,3'

  condition2 = (df['roccpi_bps'] > 0.00)
  regime2 = df[condition2]
  regime2_date = regime2[['date']]
  regime2_date['regime'] = 'regime 2,4'

  by_row_1 = pd.concat([regime1_date, regime2_date])
  df = pd.merge(df, by_row_1, on='date', how='inner')

  # Drop recorded_by (never varies) and id (always varies, random)
  # unusable_variance = ['10y2yr', 'roc10_2', '10y2y_bps', 'roc10y', '10y_bps']

  # df = df.drop(columns=unusable_variance,  axis=1)  #'cpi', 'gdp', 'rocgdp_bps', 'rocgdp', 'roccpi_bps', 'roccpi','vehicle_sales', 'conjob_claims', 'Indust Prod Index', 'm2vel',, '10y2yr', '10y', 'wti','dxy'
  
  return df

In [ ]:
df = wrangle(df).sort_index()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df.tail()

          date      cpi    roccpi  ...    vix  vix_basket      regime
313 2020-03-01  266.795  2.096304  ...  53.54   defensive  regime 1,3
314 2020-04-01  265.601  1.438310  ...  34.15   defensive  regime 1,3
315 2020-05-01  265.441  1.236465  ...  27.51    tradable  regime 1,3
316 2020-06-01  266.065  1.194257  ...  30.43   defensive  regime 1,3
317 2020-07-01  267.715  1.566086  ...  24.46    tradable  regime 2,4

[5 rows x 22 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 318 entries, 0 to 317
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           318 non-null    datetime64[ns]
 1   cpi            318 non-null    float64
 2   roccpi         318 non-null    float64
 3   roccpi_bps     318 non-null    float64
 4   10y            318 non-null    float64
 5   vehicle sales  318 non-null    float64
 6   roc_vs         318 non-null    float64
 7   vs_bps         318 non-null    float64
 8   pmi            318 non-null    float64
 9   roc_pmi        318 non-null    float64
 10  rocpmi_bps     318 non-null    float64
 11  crb            318 non-null    float64
 12  dxy            318 non-null    float64
 13  roc_dxy        318 non-null    float64
 14  rocdxy_bps     318 non-null    float64
 15  savings        318 non-null    float64
 16  roc_savings    318 non-null    float64
 17  rocsave_bps    318 non-null    float64
 18  con_conf       318 non-null    float64
 19  vix            318 non-null    float64
 20  vix_basket     318 non-null    object
 21  regime         318 non-null    object
dtypes: datetime64[ns](1), float64(19), object(2)
memory usage: 57.1+ KB

In [ ]:
# Set `date` as index
df = df.set_index('date')

#Split TV from FM

In [ ]:
# target is the regime column
# categorical
target = '10y'
y = df[target]
X = df.drop(target , axis=1)

In [ ]:
cutoff1 = '2018-01-01'
# cutoff2 = '2010-01-01'
# mask1 = df.index < cutoff2
mask1 = (df.index <= cutoff1)
# mask2 = (df.index >= cutoff1) & (df.index < cutoff2)
# mask3 = df.index >= cutoff2
train = df[mask1]
val = df[~mask1]
# val = df[mask2]
# test = df[mask3]

In [ ]:
y_train = train[target]
X_train = train.drop([target], axis=1)

y_val = val[target]
X_val = val.drop(target, axis=1)

# y_test = test[target]
# X_test = test.drop(target, axis=1)

###Test with assert

In [ ]:
assert df.shape[0] == train.shape[0] + val.shape[0]
# assert df.shape[0] == train.shape[0] + val.shape[0] + test.shape[0]

In [ ]:
print(train.shape)
print(val.shape)
# print(test.shape)

(288, 21)
(30, 21)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 288 entries, 1994-02-01 to 2018-01-01
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cpi            288 non-null    float64
 1   roccpi         288 non-null    float64
 2   roccpi_bps     288 non-null    float64
 3   10y            288 non-null    float64
 4   vehicle sales  288 non-null    float64
 5   roc_vs         288 non-null    float64
 6   vs_bps         288 non-null    float64
 7   pmi            288 non-null    float64
 8   roc_pmi        288 non-null    float64
 9   rocpmi_bps     288 non-null    float64
 10  crb            288 non-null    float64
 11  dxy            288 non-null    float64
 12  roc_dxy        288 non-null    float64
 13  rocdxy_bps     288 non-null    float64
 14  savings        288 non-null    float64
 15  roc_savings    288 non-null    float64
 16  rocsave_bps    288 non-null    float64
 17  con_conf       288 non-null    float64
 18  vix            288 non-null    float64
 19  vix_basket     288 non-null    object
 20  regime         288 non-null    object
dtypes: float64(19), object(2)
memory usage: 49.5+ KB

In [ ]:
val.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 30 entries, 2018-02-01 to 2020-07-01
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cpi            30 non-null     float64
 1   roccpi         30 non-null     float64
 2   roccpi_bps     30 non-null     float64
 3   10y            30 non-null     float64
 4   vehicle sales  30 non-null     float64
 5   roc_vs         30 non-null     float64
 6   vs_bps         30 non-null     float64
 7   pmi            30 non-null     float64
 8   roc_pmi        30 non-null     float64
 9   rocpmi_bps     30 non-null     float64
 10  crb            30 non-null     float64
 11  dxy            30 non-null     float64
 12  roc_dxy        30 non-null     float64
 13  rocdxy_bps     30 non-null     float64
 14  savings        30 non-null     float64
 15  roc_savings    30 non-null     float64
 16  rocsave_bps    30 non-null     float64
 17  con_conf       30 non-null     float64
 18  vix            30 non-null     float64
 19  vix_basket     30 non-null     object
 20  regime         30 non-null     object
dtypes: float64(19), object(2)
memory usage: 5.2+ KB

#Establish Baseline

In [ ]:
# Regression --> mean absolute error
from sklearn.metrics import mean_absolute_error
print('Baseline MAE:') 
print(mean_absolute_error(y_train, [y_train.mean()]*len(y_train)))

Baseline MAE:
1.3895833333333334

#Build Model

In [ ]:
model = make_pipeline(
    OneHotEncoder(use_cat_names=True),
    SelectKBest(k=6),
    LinearRegression()  #LinearRegression()  RandomForestRegressor(random_state=42)
)

model.fit(X_train, y_train);

In [ ]:
print('Training MAE:', mean_absolute_error(y_train, model.predict(X_train)))
print('Validation MAE:', mean_absolute_error(y_val, model.predict(X_val)))
# print('Test MAE:', mean_absolute_error(y_test, model.predict(X_test)))

Training MAE: 0.4461965981656473
Validation MAE: 0.6765188439321287

In [ ]:

from sklearn.metrics import r2_score


print("Training R2:", model.score(X_train, y_train))
print("Validation R2:", model.score(X_val, y_val))
# print("Test R2:", model.score(X_test, y_test))

Training R2: 0.8902504396749649
Validation R2: 0.07939026438538832

In [ ]:
model_rfr = make_pipeline(
    OneHotEncoder(use_cat_names=True),
    SimpleImputer(),
    SelectKBest(k=6), # <-- Hyperparameter
    RandomForestRegressor(n_estimators=10000, n_jobs=-1, random_state=42) # <-- max_depth, n_estimators
)

model_rfr.fit(X_train, y_train);

In [ ]:
print('Training MAE:', mean_absolute_error(y_train, model_rfr.predict(X_train)))
print('Validation MAE:', mean_absolute_error(y_val, model_rfr.predict(X_val)))
# print('Test MAE:', mean_absolute_error(y_test, model_rfr.predict(X_test)))

Training MAE: 0.07862385763891938
Validation MAE: 0.6928530333332835

In [ ]:
rfr_model = make_pipeline(
    OneHotEncoder(use_cat_names=True),
    SimpleImputer(strategy='mean'),
    SelectKBest(k=8),
    RandomForestRegressor(random_state=42)
)
# The ranges I want to test as dictionary
params= {'randomforestregressor__n_estimators': range(50, 801, 50),
         'randomforestregressor__max_depth': range(5, 501, 10)}

# Create Grid Search
gs = GridSearchCV(rfr_model,
                  param_grid = params,
                  n_jobs=-1,
                  verbose=1, 
                  cv=10
)

In [ ]:
gs.fit(X_train, y_train);

Fitting 10 folds for each of 800 candidates, totalling 8000 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:   12.5s
[Parallel(n_jobs=-1)]: Done 196 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 446 tasks      | elapsed:  4.7min
[Parallel(n_jobs=-1)]: Done 796 tasks      | elapsed:  9.1min
[Parallel(n_jobs=-1)]: Done 1246 tasks      | elapsed: 14.1min
[Parallel(n_jobs=-1)]: Done 1796 tasks      | elapsed: 20.5min
[Parallel(n_jobs=-1)]: Done 2446 tasks      | elapsed: 28.1min
[Parallel(n_jobs=-1)]: Done 3196 tasks      | elapsed: 37.1min
[Parallel(n_jobs=-1)]: Done 4046 tasks      | elapsed: 46.8min
[Parallel(n_jobs=-1)]: Done 4996 tasks      | elapsed: 57.9min
[Parallel(n_jobs=-1)]: Done 6046 tasks      | elapsed: 70.2min
[Parallel(n_jobs=-1)]: Done 7196 tasks      | elapsed: 83.9min
[Parallel(n_jobs=-1)]: Done 8000 out of 8000 | elapsed: 93.4min finished

In [ ]:
# # What are the best set of hyperparameters?
gs.best_params_

{'randomforestregressor__max_depth': 5,
 'randomforestregressor__n_estimators': 50}

In [ ]:
# What if I want to save my best model?
best_model = gs.best_estimator_

In [ ]:
print('Tuned training MAE:', mean_absolute_error(y_train, gs.predict(X_train)))
print('Tuned validation MAE:', mean_absolute_error(y_val, gs.predict(X_val)))
# print('Tuned test MAE:', mean_absolute_error(y_test, gs.predict(X_test)))

Tuned training MAE: 0.15581883199217905
Tuned validation MAE: 0.7373593393410331

In [ ]:
# # Multiple Linear Regression
from sklearn.metrics import r2_score


print("Training R2:", model_1.score(X_train, y_train))
print("Validation R2:", model_1.score(X_val, y_val))
# print("Test R2:", model_1.score(X_test, y_test))

NameError: ignored

In [ ]:
from sklearn.datasets import make_classification
from sklearn.ensemble import ExtraTreesClassifier

In [ ]:
X, y = make_classification(n_samples=1000,
                           n_features=10,
                           n_informative=3,
                           n_redundant=0,
                           n_repeated=0,
                           n_classes=2,
                           random_state=0,
                           shuffle=False)

In [ ]:
forest = ExtraTreesClassifier(n_estimators=250,
                              random_state=0)

In [ ]:
# forest.fit(X, y)
# importances = forest.feature_importances_
# std = np.std([tree.feature_importances_ for tree in forest.estimators_],
#              axis=0)
# indices = np.argsort(importances)[::-1]

In [ ]:
# Print the feature ranking
# print("Feature ranking:")

# for f in range(X.shape[1]):
#     print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))

# # Plot the impurity-based feature importances of the forest
# plt.figure()
# plt.title("Feature importances")
# plt.bar(range(X.shape[1]), importances[indices],
#         color="r", yerr=std[indices], align="center")
# plt.xticks(range(X.shape[1]), indices)
# plt.xlim([-1, X.shape[1]])
# plt.show()

In [ ]:
# plot feature importance using built-in function
# from numpy import loadtxt
# from xgboost import XGBRegressor
# from xgboost import plot_importance

# # fit model no training data
# model = XGBRegressor()
# model.fit(X, y)
# # plot feature importance
# plot_importance(model)
# plt.show()